body {
  background-color: tan;
  font-family: Arial, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  text-align: center; 
  position: relative; 
  margin-top: 20px; 
  display: block;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-color: #cadcf2;
}

.screenshot {
  display: block;
  width: 150%;
  max-width: 600px;
  height: 400px;
  width: 400px;
  border: 3px solid #fff;
  border-radius: 8px;
  margin: 20px auto 20px;
  object-fit: cover;
  object-position: center;
}

h1 {
  margin-bottom: 20px; 
}

button {
  color: #fff;
  background-color:black;
  border: none;
  border-radius: 15px;
  border-color: black;
  cursor: pointer; 
}

button:hover {
  background-color: #fff;
  color: black;
  border-color: black;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem;
}

li {
  display: grid;
  gap: 1.75em;
  align-items: start;
  font-size: 1.5rem;
  line-height: 1.25;
  color: black;
}

ul.attrButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

ul.attrButtons li {
  flex: 1;
}